<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-anciennes-demandes-devis">
            <div class="panel-heading">
                Anciennes demandes de devis
            </div>
            <div class="panel-body">
                <table id="table_anciennes_demandes"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="date" data-sort-order="desc" data-striped="true">
                    <thead>
                        <tr>
                            <th data-field="etat" data-checkbox="true" >ID</th>
                            <th data-field="nom" data-sortable="true"> Nom du client</th>
                            <th data-field="telephone" data-sortable="true"> Téléphone</th>
                            <th data-field="date" data-sortable="true"> Date</th>
                            <th data-field="texte"  data-sortable="true"> Demande</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

