<div class="row" id="formulaire_rediger_article">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Ajouter un produit</div>
            <div class="panel-body">
                {{form(form)}}
            </div>
        </div>
    </div>
</div>