<section id="clients" class="clients">
    <div class="heading heading--section wow lightSpeedIn">
        Ils nous ont fait confiance
    </div>
        <div class="temoignages wow bounceInLeft">
      <div class="roller">
          <div class="roller__content">
              <div class="roller__slide">
                   <blockquote class="quote">
                      <div class="quote__content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis temporibus vero consequatur et nostrum porro itaque vel, molestias magnam laborum esse! Esse qui porro officia, neque provident a perferendis. Voluptate.
                      </div>
                      <div class="quote__reference">
                          Prénom Nom, Société. 
                      </div>
                  </blockquote>
              </div>
              <div class="roller__slide">
                   <blockquote class="quote">
                      <div class="quote__content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis temporibus vero consequatur et nostrum porro itaque vel, molestias magnam laborum esse! Esse qui porro officia, neque provident a perferendis. Voluptate.
                      </div>
                      <div class="quote__reference">
                          Prénom Nom, Société. 
                      </div>
                  </blockquote>
              </div>
              <div class="roller__slide">
                   <blockquote class="quote">
                      <div class="quote__content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis temporibus vero consequatur et nostrum porro itaque vel, molestias magnam laborum esse! Esse qui porro officia, neque provident a perferendis. Voluptate.
                      </div>
                      <div class="quote__reference">
                          Prénom Nom, Société. 
                      </div>
                  </blockquote>
              </div>
          </div>
      </div>
    </div>
    <div class="gallery gallery--striped wow bounceInRight">
              <div class="gallery__row">
           <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
             <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
             <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
        </div>
        <div class="gallery__row">
           <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
             <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
             <div class="gallery__cell">
                <div class="thumbnail">
                    <div class="thumbnail__object">
                        <img src="demo/clients/client1.png" alt="">
                    </div>
                    <div class="thumbnail__caption">
                      Université Sidi Mohammed Ben Abdellah
                    </div>
                </div>  
            </div>
        </div>
    </div>

</section>