<footer id="contact" class="page footer">
        <div class="footer__top">
            <div class="heading heading--section wow lightSpeedIn">
                Contactez-nous
            </div>
        </div>
        
        <div class="footer__middle clearfix">
            <div class="solutions wow bounceInLeft">
                <div class="titre">Services et Solutions</div>
                <ul class="list list--stacked">
                    <li class="list__item">
                        <a href="">Vidéosurveillance</a>
                    </li>
                    <li class="list__item">
                        <a href="">Matériel Informatique</a>
                    </li>
                    <li class="list__item">
                        <a href="">Réseaux Informatiques</a>
                    </li>
                    <li class="list__item">
                        <a href="">Support et Maintenance</a>
                    </li>
                </ul>
            </div>
            <div class="info wow bounceInUp">
                <div class="titre">
                    Informations de contact
                </div>
                <ul class="list list--stacked">
                    <li class="list__item">
                       <div class="fa fa-phone"></div>
                       <span>0666666666</span>
                    </li>
                     <li class="list__item">
                       <div class="fa fa-paper-plane"></div>
                       <span>contact@technochoix.com</span>
                    </li>
                    <li class="list__item">
                       <div class="fa fa-envelope"></div>
                       <span>contact@technochoix.com</span>
                    </li>
                </ul>
            </div>
            <div class="liens-sociaux wow bounceInRight">
                <div class="titre">Liens Sociaux</div>
                <ul class="list list--aligned">
                    <li class="list__item">
                        <a href="http://facebook.com/" target="_blank">
                            <img src="{{asset('frontend/images/sections/footer/facebook.png')}}" alt="Facebook">
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="http://plus.googe.com/" target="_blank">
                            <img src="{{asset('frontend/images/sections/footer/google-plus.png')}}" alt="Google Plus">
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="http://twitter.com/" target="_blank">
                            <img src="{{asset('frontend/images/sections/footer/twitter.png')}}" alt="Twitter">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider divider--default"></div>
        <div class="footer__bottom">
            <div class="droits">
                &copy; TechnoChoix. Tous droits résérvés.
            </div>
        </div>
    </footer>