<header class="header">
        <div class="topbar">
            <div class="topbar__right">
                <a href="" class="button"><span class="fa fa-facebook-square"></span> </a>
                <span class="topbar__divider">|</span>
                <a href="" class="button"><span class="fa fa fa-google-plus-square"></span> </a>
                <span class="topbar__divider">|</span>
                <a href="" class="button"><span class="fa fa fa-twitter-square"></span> </a>
            </div>
        </div>
        <img src="{{asset('frontend/images/sections/header/background.png')}}" alt="">
        <div class="info">
            <div class="item telephone">
                <span class="fa fa-phone"></span>
                <span>0666666666</span>
            </div>
            <div class="item email">
                <span class="fa fa-envelope"></span>
                <span>contact@technochoix.com</span>
            </div>
        </div>
    </header>