 <nav class="navigation">
        <div class="horizontal-menu">
            <div class="horizontal-menu__item">
                <a href="#devis">
                    Devis
                </a>
                
            </div>
             <div class="horizontal-menu__item">
                <a href="#produits">
                    Produits
                </a>
                
            </div>
            <div class="horizontal-menu__item">
                <a href="#clients">
                    Témoignages
                </a>
                
            </div>
           
            <div class="horizontal-menu__item">

                <a href="#contact">
                    Contact
                </a>
                
            </div>
        </div>
        <a class="button button--scroll-to-top" href="#"></a>
    </nav>