<section id="produits" class="produits">
    <div class="heading heading--section wow lightSpeedIn">
        Nos Produits
    </div>
    <div class="gallery wow bounceInUp">
          <div class="gallery__row">
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
        </div>
          <div class="gallery__row">
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__row">
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
            <div class="gallery__cell">
                <div class="card">
                    <div class="card__body">
                        <div class="thumbnail">
                            <div class="thumbnail__object">
                                <img src="demo/produits/produit1.png" alt="produit1">
                            </div>
                            <div class="thumbnail__caption">
                                Nom du produit
                            </div>
                        </div>
                        <ul class="list list--stacked">
                           <li class="list__item">
                               Détail technique 1
                           </li>
                           <li class="list__item">
                               Détail technique 2
                           </li>
                           <li class="list__item">
                               Détail technique 3
                           </li>
                       </ul>
                    </div>
                    <div class="card__footer">
                        1000 DH
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>